/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#2b1055, #7598de);
  overflow-x: hidden;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px clamp(35px, 5vw, 100px);
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__logo {
  color: whitesmoke;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 5px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(3vw, 50px);
  list-style-type: none;
}

.nav__list.hidden {
  display: none;
}
.nav__list li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 6px 15px;
  border-radius: 20px;
}

.nav__list li a:hover,
.nav__list li a.active {
  background-color: aliceblue;
  color: #2b1055;
}

.nav__hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nav__hamburger-top,
.nav__hamburger-mid,
.nav__hamburger-bottom {
  width: 30px;
  height: 4px;
  background-color: whitesmoke;
  border-radius: 5px;
  position: relative;
  transition: all 0.5s;
}

.animate-hamburger {
  .nav__hamburger-top {
    transform: translateY(10px) rotate(225deg);
  }
  .nav__hamburger-mid {
    transform: translateX(-30px);
    opacity: 0;
  }
  .nav__hamburger-bottom {
    transform: translateY(-10px) rotate(-225deg);
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#moon {
  mix-blend-mode: screen;
}
#moon-text {
  position: absolute;
  right: -250px;
  color: whitesmoke;
  white-space: normal;
  font-size: calc((7.5vw) + 10px);
}

.hero__btn {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background-color: whitesmoke;
  color: #2b1055;
  transform: translateY(130px);
}

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1;
}

.info {
  position: relative;
  padding: 100px;
  background-color: #1c0522;
}

.info__title {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: whitesmoke;
}

.info__text {
  font-size: 1.25rem;
  color: whitesmoke;
}

@media only screen and (min-width: 641px) {
  .nav__list {
    display: flex;
  }
  .nav__hamburger {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    position: absolute;
    width: 100vw;
    top: -400px;
    right: -35px;
    background-color: hsla(263, 69%, 20%, 0.42);
    padding-top: 120px;
    padding-bottom: 50px;
    backdrop-filter: blur(8px);
    transition: transform 0.5s ease;
  }
  .nav__list.open {
    transform: translateY(365px);
    transition: transform 0.5s ease;
  }
}
